In [1]:
import numpy as np

In [11]:
#NumPy was developed in 1995 and was called Numeric in the beginning.
#It supports linear algebra, random number generation and many other functionalities.
#Can be containers of large numerical array elements.
#But, ndarray supports all types, which have to be as one datatype, that transforms automatically.

In [9]:
l = list(range(1,11))
my_array = np.array(l)#converting list in NumPy array.
print(type(my_array))
my_array

<class 'numpy.ndarray'>

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [14]:
for i in my_array:
    print(type(i))

<class 'numpy.int32'>
<class 'numpy.int32'>
<class 'numpy.int32'>
<class 'numpy.int32'>
<class 'numpy.int32'>
<class 'numpy.int32'>
<class 'numpy.int32'>
<class 'numpy.int32'>
<class 'numpy.int32'>
<class 'numpy.int32'>

In [13]:
for i in l:
    print(type(i))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>

In [ ]:
# to be resolved.

In [21]:
b = [1,2.,'3']#if one is float, all becomes float. If one string, all becomes string.

In [22]:
np.array(b)

array(['1', '2.0', '3'], dtype='<U32')

In [23]:
np.arange(1,11,2)#evenly spaced with in given interval. Here, every 2nd element.

array([1, 3, 5, 7, 9])

In [24]:
l = [1,2,3,4]
l * 2 # this is not element-wise operation.

[1, 2, 3, 4, 1, 2, 3, 4]

In [29]:
l1 = []
for i in l:
    l1.append(i*2)
l1

[2, 4, 6, 8]

In [31]:
l +2 #can't concatenate int to list.

TypeError: can only concatenate list (not "int") to list

In [38]:
test = np.arange(1,5) # many possibilities, and functionalities.

In [39]:
test *2

array([2, 4, 6, 8])

In [40]:
test -2

array([-1,  0,  1,  2])

In [41]:
test +2

array([3, 4, 5, 6])

In [42]:
np.sqrt(test)

array([1.        , 1.41421356, 1.73205081, 2.        ])

In [43]:
np.log(test)

array([0.        , 0.69314718, 1.09861229, 1.38629436])

In [44]:
np.exp(test)

array([ 2.71828183,  7.3890561 , 20.08553692, 54.59815003])

In [48]:
np.sum(test)#same as sum(test)

10

In [52]:
test.size# same as len(test)

4

In [53]:
len(test)

4

In [71]:
test2 =np.array([-2,-1,0,1,2])

In [72]:
np.abs(test2)

array([2, 1, 0, 1, 2])

In [73]:
test3 = np.array([1.2,-1.2])
np.floor(test3)#element-wise rounding-up, to lower value.

array([ 1., -2.])

In [74]:
np.ceil(test3) #rounding-up to higher value.

array([ 2., -1.])

In [78]:
np.round(test3,decimals=0)#like round,but with numpy.

array([ 1., -1.])

### Indexing and slicing.

In [95]:
a=np.array(list(range(1,11)))
a

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [96]:
a[0]

1

In [97]:
a[-1]

10

In [98]:
list(enumerate(a))#creating tuples with index, value

[(0, 1),
 (1, 2),
 (2, 3),
 (3, 4),
 (4, 5),
 (5, 6),
 (6, 7),
 (7, 8),
 (8, 9),
 (9, 10)]

In [99]:
a[2:8]#slicing like list.

array([3, 4, 5, 6, 7, 8])

In [100]:
a[:]

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [101]:
a[:4]

array([1, 2, 3, 4])

In [102]:
a[2:]

array([ 3,  4,  5,  6,  7,  8,  9, 10])

In [103]:
a[2::2] #every second element, starting from 2.

array([3, 5, 7, 9])

In [104]:
a[0]= 100 # mutation possible.

In [105]:
a[2:5]=50 #broadcasitng availale, unlike list.

In [106]:
a[1:3] = [20,21] #multiple assignment works too.

In [107]:
b = a[2:8]

In [109]:
b[0]= 1000#changes in b leads to change in a too.

In [110]:
a

array([ 100,   20, 1000,   50,   50,    6,    7,    8,    9,   10])

In [111]:
l = list(range(1,11)) #list

In [112]:
m = l[2:8]

In [114]:
m[0]=1000

In [115]:
l #list stays the same. This is different behavior in a list and array, with referencing.
#In array, copy() is needed if no changes to be required in original reference.

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### Multi-dimensional array.

In [131]:
a = np.array(list(range(1,13)))
print(type(a))
a # one dimensional array.

<class 'numpy.ndarray'>

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12])

In [133]:
a_test= a.reshape(2,6)#2-D array with 2 rows with 5 columns.

In [134]:
a_test + 100 #element-wise operations in 2-D array still works.

array([[101, 102, 103, 104, 105, 106],
       [107, 108, 109, 110, 111, 112]])

In [136]:
a.reshape(3,3)#not possile with 12 elements available.

ValueError: cannot reshape array of size 12 into shape (3,3)

In [137]:
a.reshape(2,2,3) #3-D array, with 3 brackets.[[[]]]

array([[[ 1,  2,  3],
        [ 4,  5,  6]],

       [[ 7,  8,  9],
        [10, 11, 12]]])

In [141]:
test = np.array(list(range(1,101))).reshape(25,4) #all in one line.
test

array([[  1,   2,   3,   4],
       [  5,   6,   7,   8],
       [  9,  10,  11,  12],
       [ 13,  14,  15,  16],
       [ 17,  18,  19,  20],
       [ 21,  22,  23,  24],
       [ 25,  26,  27,  28],
       [ 29,  30,  31,  32],
       [ 33,  34,  35,  36],
       [ 37,  38,  39,  40],
       [ 41,  42,  43,  44],
       [ 45,  46,  47,  48],
       [ 49,  50,  51,  52],
       [ 53,  54,  55,  56],
       [ 57,  58,  59,  60],
       [ 61,  62,  63,  64],
       [ 65,  66,  67,  68],
       [ 69,  70,  71,  72],
       [ 73,  74,  75,  76],
       [ 77,  78,  79,  80],
       [ 81,  82,  83,  84],
       [ 85,  86,  87,  88],
       [ 89,  90,  91,  92],
       [ 93,  94,  95,  96],
       [ 97,  98,  99, 100]])

In [157]:
a=np.arange(1,13)

In [158]:
a=a.reshape(3,4,order='f')#default order = 'c'

In [160]:
a[0]#first row.

array([ 1,  4,  7, 10])

In [162]:
a[1][1]#second row, second element.

5

In [167]:
a[1,1]#also works. [row,column]

5

In [171]:
a[:,0]#first column.[row,column]

array([1, 2, 3])

In [176]:
a

array([[ 1,  4,  7, 10],
       [ 2,  5,  8, 11],
       [ 3,  6,  9, 12]])

In [177]:
a[:2,1:3]#complex selection available.

array([[4, 7],
       [5, 8]])

In [179]:
a.T
a.transpose() #Both same.

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [ 7,  8,  9],
       [10, 11, 12]])

In [184]:
b=a[:,-1]

In [185]:
a[:,-1]= a[:,-1]/4 #changing slice inplace. No inplace parameter, as this is no funcion.

In [187]:
b#this is changed as well.

array([2, 2, 3])

In [193]:
print(a.sum())#all sum.
print(a.sum(axis=0))#sum along rows.
print(a.sum(axis=1))#sum along columns.

52
[ 6 15 24  7]
[14 17 21]

In [197]:
print(a.cumsum())#cumulative sum of all elements.
print(a.cumsum(axis=0))#cumulative sum along rows.
print(a.cumsum(axis=1))#cumulative sum along columns.

[ 1  5 12 14 16 21 29 31 34 40 49 52]
[[ 1  4  7  2]
 [ 3  9 15  4]
 [ 6 15 24  7]]
[[ 1  5 12 14]
 [ 2  7 15 17]
 [ 3  9 18 21]]

In [201]:
print(a.prod())#product of all elements.
print(a.prod(axis=0))#product along rows.
print(a.prod(axis=1))#product along columns.

4354560
[  6 120 504  12]
[ 56 160 486]

### Boolean Indexing.

In [203]:
a=np.arange(1,11)

In [209]:
mask1= a > 5
print(mask1) #element-wise check on a.
type(mask1)#Boolean Object.

[False False False False False  True  True  True  True  True]

numpy.ndarray

In [211]:
mask2 = a <8
mask2

array([ True,  True,  True,  True,  True,  True,  True, False, False,
       False])

In [213]:
mask3 = mask1 & mask2
mask3

array([False, False, False, False, False,  True,  True, False, False,
       False])

In [215]:
mask4 = mask1 | mask2
mask4

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True])

In [221]:
mask5 = ~(mask1 & mask2)# '~' is opposite of masks.Here,'!=' for 'not' or 'opposite' doesn't work.

In [228]:
print(a[mask1])#slicing of elements based on conditions.
print(a[mask2])
print(a[mask3])
print(a[mask4])
print(a[mask5])

[ 6  7  8  9 10]
[1 2 3 4 5 6 7]
[6 7]
[ 1  2  3  4  5  6  7  8  9 10]
[ 1  2  3  4  5  8  9 10]

### Generating Random Numbers

In [229]:
np.random.randint(1,101,10)#10 random numbers betn 1 and 101, with 101 excluding.

array([94, 91, 65, 96, 69, 89, 97, 60, 24, 94])

In [232]:
np.random.seed(123)#seed enables reproducibility.
np.random.normal(5,2,10)#normal(Gaussian) distribution with mean 5 and std 2

array([2.82873879, 6.99469089, 5.565957  , 1.98741057, 3.8427995 ,
       8.30287307, 0.14664151, 4.14217474, 7.53187252, 3.2665192 ])

In [233]:
b = np.arange(1,101)

In [237]:
np.random.shuffle(b)#randomly shuffles, inplace automatically, everytime.

In [239]:
b.sort()#sorts ndarray inplace.

In [241]:
b[::-1]#sorting in reversed order, not inplace.

array([100,  99,  98,  97,  96,  95,  94,  93,  92,  91,  90,  89,  88,
        87,  86,  85,  84,  83,  82,  81,  80,  79,  78,  77,  76,  75,
        74,  73,  72,  71,  70,  69,  68,  67,  66,  65,  64,  63,  62,
        61,  60,  59,  58,  57,  56,  55,  54,  53,  52,  51,  50,  49,
        48,  47,  46,  45,  44,  43,  42,  41,  40,  39,  38,  37,  36,
        35,  34,  33,  32,  31,  30,  29,  28,  27,  26,  25,  24,  23,
        22,  21,  20,  19,  18,  17,  16,  15,  14,  13,  12,  11,  10,
         9,   8,   7,   6,   5,   4,   3,   2,   1])

In [244]:
b

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
        92,  93,  94,  95,  96,  97,  98,  99, 100])

In [250]:
np.random.seed(123)
b1 = np.random.choice(b,size=100,replace=True)#chooses 100 random from b.
b1

array([ 67,  93,  99,  18,  84,  58,  87,  98,  97,  48,  74,  33,  47,
        97,  26,  84,  79,  37,  97,  81,  69,  50,  56,  68,   3,  85,
        40,  67,  85,  48,  62,  49,   8, 100,  93,  53,  98,  86,  95,
        28,  35,  98,  77,  41,   4,  70,  65,  76,  35,  59,  11,  23,
        78,  19,  16,  28,  31,  53,  71,  27,  81,   7,  15,  76,  55,
        72,   2,  44,  59,  56,  26,  51,  85,  57,  50,  13,  19,  82,
         2,  52,  45,  49,  57,  92,  50,  87,   4,  68,  12,  22,  90,
        99,   4,  12,   4,  95,   7,  10,  88,  15])

In [254]:
b1.sort()
b1 #many elements choosen again on repeat.

array([  2,   2,   3,   4,   4,   4,   4,   7,   7,   8,  10,  11,  12,
        12,  13,  15,  15,  16,  18,  19,  19,  22,  23,  26,  26,  27,
        28,  28,  31,  33,  35,  35,  37,  40,  41,  44,  45,  47,  48,
        48,  49,  49,  50,  50,  50,  51,  52,  53,  53,  55,  56,  56,
        57,  57,  58,  59,  59,  62,  65,  67,  67,  68,  68,  69,  70,
        71,  72,  74,  76,  76,  77,  78,  79,  81,  81,  82,  84,  84,
        85,  85,  85,  86,  87,  87,  88,  90,  92,  93,  93,  95,  95,
        97,  97,  97,  98,  98,  98,  99,  99, 100])

In [258]:
np.unique(b1).size #only unique elements.

66

In [259]:
np.array(list(set(b1))).size #same as unique, with set.

66

In [261]:
np.unique(b,return_index=True,return_counts=True)
#return_index, for first occurance of unique elements with index.
#return_counts, for how many times elements included.

(array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
         14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
         27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
         40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
         53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
         66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
         79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
         92,  93,  94,  95,  96,  97,  98,  99, 100]),
 array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
        17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
        34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
        51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67,
        68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84,
        85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99],
       dtype=int64),
 array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], dtype=int64))

There are many more methods available for numpy.

### Performance

In [280]:
size=1000000 #comparing performance of numpy with list.

In [281]:
a = np.arange(size)
a

array([     0,      1,      2, ..., 999997, 999998, 999999])

In [282]:
l= list(range(size))
len(l)

1000000

In [283]:
%timeit a+2 #magic func for measuring time, for array a.

5.02 ms ± 154 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [284]:
%timeit [i+2 for i in l] #measuring time for list l.

233 ms ± 33.2 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [285]:
%timeit a*2

5.26 ms ± 256 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [286]:
%timeit [i*2 for i in l]

233 ms ± 37 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [287]:
%timeit a**2

5.25 ms ± 324 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [288]:
%timeit [i**2 for i in l]

938 ms ± 35.6 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [289]:
%timeit np.sqrt(a)

22.8 ms ± 1.66 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [290]:
%timeit [i*0.5 for i in l]

256 ms ± 25.5 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

when it comes to performance with lesser batch size, list seems to be running faster than numpy.But, with higher batch size, numpy takes much lesser time comparatively, to list.

### Case Study

#### NumPy vs Python Std Library.

In [295]:
np.random.seed(123)
(np.random.randint(1,11,100*10000)==1).sum()#how many times 1 occured in 1000000 random ints.

99691

In [298]:
(np.random.randint(1,11,100*10000).reshape(10000,100)==1).sum(axis=1).mean()
#number of occurances of 1 in one 100 int column.

10.0359

above ways are method chaining

In [299]:
%timeit (np.random.randint(1,11,100*10000)==1).sum()

33.5 ms ± 1.26 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

#### nested loops, if statements & lists.

In [300]:
import random

In [303]:
def simulation():
    results=[]
    l = []
    for i in range(100*10000):
        if random.randint(1,110)==1:
            l.append(True)
        else:
            l.append(False)
        results.append(sum(l))
    return (sum(results)/len(results))